.title-component {
  padding: $main-padding;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  background: yellow;
  text-align: center;
}

ul {
  li {
    padding: 5px 0 5px 10px; 
  }
}